{% extends 'my_logistic/base.html' %}


{% block content %}
   <style type="text/css">
   body {
    background: url(static/my_logistic/images/driver.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
   }
  </style>
<br><br><br>
<h2 class="p-3 mb-2 bg-warning text-dark">Водители</h2><br>


<table class="table table-dark">
  <thead>
    <tr>
       <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Возраст</th>
      <th scope="col">Автомобиль</th>
       {% if request.user.groups.first.name != 'level_1' %}
      <th scope="col">Подробнее</th>
      {% else %}
      {% endif %}

    </tr>
  </thead>
  <tbody>

  {% for i in driver_list  %}
    <tr>
      <td>{{ i.surname }}</td>

      <td>{{ i.name }}</td>
      <td>{{ i.patronymic }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.car.brand }}-{{ i.car.model }}</td>
       {% if request.user.groups.first.name != 'level_1' %}
      <td><button class="btn btn-warning"> <a class="text-dark" href="{% url 'drivers_detail' drivers_pk=i.pk %}">Детали<a/> </button> </td>
        {% else %}

      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if request.user.groups.first.name != 'level_1' %}
<button type="button" class="btn btn-warning"><a class="text-dark" href="{% url 'add_drivers' %}?param=add">Добавить водителя</a></button>
{% else %}

{% endif %}
{% endblock %}